
<form [formGroup]="mapViewForm" (ngSubmit)="onSubmit()">

  <input type="file" #fileSelector value="Import" style="margin-left:15px" />
  <!--<button id="Load" type="button" (click)="onLoadMapInfo()" style="margin-left:15px">Load</button>-->

  <br />

  <table class="form-table">
    <tr>
      <td>
        <label>Job Name: <input type="text" formControlName="jobName"></label>
      </td>
    </tr>
    <tr>
      <td>
        <label>Image Width: <input type="text" formControlName="imageWidth" size="2"></label> <label> inches</label>
      </td>
    </tr>
    <tr>
      <td>
        <label>Image Height: <input type="text" formControlName="imageHeight" size="2"></label> <label> inches</label>
      </td>
    </tr>
    <tr>
      <td>
        <label>Print Density (in pixels / inch): <input type="text" formControlName="printDensity" size="2"></label>
      </td>
    </tr>
    <tr>
      <td>
        <label>Print Size: {{printSize}}</label>
      </td>
    </tr>
    <!--<tr>
      <td>
        <label>Each screen pixel covers <input type="text" formControlName="screenToPrintPixRatio" size="1"> print pixels.</label>
      </td>
    </tr>-->
    <tr>
      <td>
        <label>Left: <input type="text" formControlName="left" size="1"></label>
      </td>
    </tr>
    <tr>
      <td>
        <label>Top: <input type="text" formControlName="top" size="1"></label>
      </td>
    </tr>
    <!--<tr>
      <td>
        <label>Zoom Factor: {{mapViewForm.controls.zoomFactor.value}}</label>
      </td>
    </tr>-->
    <tr>
      <td>
        <label>View Size: {{viewSize}}</label>
      </td>
    </tr>
  </table>

  <button #applyButton type="submit" [disabled]="!mapViewForm.valid">Apply</button>

  <br />

  <div style="margin-top:15px">
    <button id="mLeft" type="button" (click)="onMoveL($event)" style="margin-left:15px">Left</button>
    <button id="mRight" type="button" (click)="onMoveR($event)" style="margin-left:15px">Right</button>
    <button id="mUp" type="button" (click)="onMoveU($event)" style="margin-left:15px">Up</button>
    <button id="mDown" type="button" (click)="onMoveD($event)" style="margin-left:15px">Down</button>
    <button id="mDown" type="button" (click)="onMoveD($event)" style="margin-left:15px">Down</button>
    <button id="setSurveyMode" type="button" (click)="onSetSurveyMode($event)" style="margin-left:15px">Survey</button>

  </div>

</form>






