

<!--<h3>Options</h3>
<p>Options will go here.</p>

<h3>Map Coordinates</h3>-->

<form [formGroup]="mapCoordsForm" (ngSubmit)="onSubmit()">
  <table>
    <tr>
      <td>
        <label>Start X: <input type="text" formControlName="startX"></label>
      </td>
      <td>
        <label>End X: <input type="text" formControlName="endX"></label>
      </td>
      <td>
        <label>Iterations: <input type="text" formControlName="maxIterations" size="6"></label>
      </td>
    </tr>
    <tr>
      <td>
        <label>Start Y: <input type="text" formControlName="startY"></label>
      </td>
      <td>
        <label>End Y: <input type="text" formControlName="endY"></label>
      </td>
      <td>
        <label>Redraw after <input type="text" formControlName="iterationsPerStep" size="6"> iterations</label>
      </td>
    </tr>
  </table>
  <button #applyButton type="submit" [disabled]="!mapCoordsForm.valid">Apply</button>
  <button id="Back" type="button" (click)="onGoBack()" style="margin-left:15px">Go Back</button>
  <button id="Reset" type="button" (click)="onReset()" style="margin-left:15px">Reset</button>

  <button id="Save" type="button" (click)="onSaveMapInfo()" style="margin-left:50px">Save</button>
  <a #download href="#" hidden="hidden">Download</a>

  <input type="file" #fileSelector value="Import" style="margin-left:15px" />
  <button id="Load" type="button" (click)="onLoadMapInfo()" style="margin-left:15px">Load</button>
  <br />
  <div style="margin-top:15px">
    <button id="mLeft" type="button" (click)="onMoveL($event)" style="margin-left:15px">Left</button>
    <button id="mRight" type="button" (click)="onMoveR($event)" style="margin-left:15px">Right</button>
    <button id="mUp" type="button" (click)="onMoveU($event)" style="margin-left:15px">Up</button>
    <button id="mDown" type="button" (click)="onMoveD($event)" style="margin-left:15px">Down</button>
    <button id="zoomOut" type="button" (click)="onZoomOut($event)" style="margin-left:15px">Zoom Out</button>
  </div>

  <!--<button id="Test" type="button" (click)="onTest()" style="margin-left:20px">Test</button>-->

</form>





