

<h3>Options</h3>
<p>Options will go here.</p>

<h3>Map Coordinates</h3>

<form [formGroup]="mapCoordsForm" (ngSubmit)="onSubmit()">
  <table>
    <tr>
      <td>
        <label>Start X: <input type="text" formControlName="startX"></label>
      </td>
      <td>
        <label>End X: <input type="text" formControlName="endX"></label>
      </td>
      <td>
        <label>Interations: <input type="text" formControlName="maxIterations" size="6"></label>
      </td>
    </tr>
    <tr>
      <td>
        <label>Start Y: <input type="text" formControlName="startY"></label>
      </td>
      <td>
        <label>End Y: <input type="text" formControlName="endY"></label>
      </td>
      <td>
        <label>Redraw after <input type="text" formControlName="iterationsPerStep" size="6"> iterations</label>
      </td>
    </tr>
  </table>
  <button type="submit" [disabled]="!mapCoordsForm.valid">Apply</button>
</form>





