
<h2 style="margin-bottom:5px  ">The Mandlebrodt Set</h2>
<div style="margin-bottom:20px">
  <app-m-map-params [mapInfo]="mapInfo"
                    (mapInfoUpdated)="onMapInfoUpdated($event)"
                    (goBack)="onGoBack($event)">
  </app-m-map-params>
</div>

<!--<h2>Map Output Section</h2>-->

<button type="button" (click)="mapDisplay.getImageData()">Get Image Data</button>
<a #download href={{dataUri}} download="test2.jpg" target="_blank" hidden="hidden">Download</a>

<section>
    <div style="float:left; position:relative; width:700px; height:470px; padding:3px 3px 3px 3px; border: 2px solid black">
      <div style="position:relative; width:690px; height:460px; margin:5px">
        <app-m-map-display #mapDisplay [mapCoords]="mapCoords"
                           [maxIterations]="maxIterations"
                           [iterationsPerStep]="iterationsPerStep"
                           [colorMap]="colorMap"
                           (zoomed)="onZoomed($event)"
                           (haveImageData)="onHaveImageData($event)"
                           >
        </app-m-map-display>
      </div>
    </div>

    <div style="margin-left:712px; width:300px; padding:3px 3px 3px 3px; border: 2px solid black">
    <app-color-map-editor [colorMap]="colorMap" (colorMapUpdated)="onColorMapUpdated($event)"></app-color-map-editor>

    </div>
</section>


<!--<section>
  <div style="float:left; position:relative; width:2120px; height:1420px; padding:3px 3px 3px 3px; border: 2px solid black">
    <div style="position:relative; width:2110px; height:1410px; margin:5px">
      <app-m-map-display #mapDisplay [mapCoords]="mapCoords"
                         [maxIterations]="maxIterations"
                         [iterationsPerStep]="iterationsPerStep"
                         [colorMap]="colorMap"
                         (zoomed)="onZoomed($event)"
                         (haveImageData)="onHaveImageData($event)">
      </app-m-map-display>
    </div>
  </div>

  <div style="margin-left:712px; width:300px; padding:3px 3px 3px 3px; border: 2px solid black">
    <p>This is filler</p>
    <p>This is filler</p>

  </div>
</section>-->

<!--<div style="position:relative; width:1060px; height:710px; padding:3px 3px 3px 3px; border: 2px solid black">
  <div style="position:relative; width:1050px; height:700px; margin:5px">
    <app-m-map-display [mapInfo]="mapInfo"></app-m-map-display>
  </div>
</div>-->
